@import "./variables.scss";


.fluid-container {
  max-width: 1920px !important;
}
.home_navbar {
  background: linear-gradient(90deg, #03bbf3, #0268ac);
}
#root > div > div > nav > div {
  width: 80%;
}
.km_navlinks {
  border-left: 1px solid #d5de3a;
}
.km_navlinks:first-child {
  border: 0;
}
@media (max-width: 576px) {
  .km_navlinks {
    border: 0;
  }
}
