.km_nav_bar {
  border: 1px solid yellow;
  background-color: #274472;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 72px;
  max-width: 1920px;
}
.km_nav_container {
  border: 1px solid red;
}

.km_nav_bar_brand {
  border: 1px solid green;
  font-size: 26px;
  font-weight: 700;
  color: #c3e0e5;
}
.km_nav_link_group {
  border: 1px solid white;
  align-items: center;
  justify-content: flex-end;
  margin: 0 2px;
  width: 100%;
}
.km_nav_link_group:hover {
  color: #274472;
}
.km_nav_collapse {
  background-color: #c3e0e5;
  color: #274472;
  width: 100%;
}
.km_nav_link {
  border: 1px solid grey;
  text-decoration: none;
  color: #c3e0e5;
}

@media (max-width: 48em) {
  .km_nav_link {
    border: 1px solid grey;
    text-decoration: none;
    color: #274472;
  }
}
