@import "./variables.scss";

// .km_whole_navbar {
//     max-width: 1920px;
// }

.km_whole_navbar {
  padding: 0;
  width: 100%;
}
// .km_toggle {
//   width: 100%;
// }
.km_collapse {
  justify-content: end;
}
// .km_nav {

// }
