@import "./variables.scss";

// .km_whole_navbar {
//     position: relative;
// }
.km_navbar {
  max-width: 1920px;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
 
}
.km_whole_navbar {
  padding: 0;
  width: 100%;
}
.km_collapse {
  justify-content: end;
}

